<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/index.css">

    </head>
    <body>
        <h1>OBSERVER</h1>
        <div id="mapController">

        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var mapController={}
        var socket=io.connect('http://'+document.domain+":"+location.port)
        socket.on("index",(data)=>{
            var ip =data['ip']
            var timer=data['counter']
            var term = data['term']
            // console.log(ip,typeof(ip),timer,typeof(timer))
            if(ip in mapController){
                mapController[ip].timerInfo.textContent=`Timer: ${timer}`;
                mapController[ip].termInfo.textContent = `Term: ${term}`;
            }
            else{
                var newController=document.createElement("div")
                newController.classList.add("mapControllerDiv"); // Add this line to add the class

                var state=document.createElement("h2")
                state.setAttribute("id","state")
                var ipInfo=document.createElement("p")
                var timerInfo=document.createElement("p")
                var termInfo = document.createElement("p")

                state.textContent="FOLLOWER"
                ipInfo.textContent = `IP: ${ip}`;
                timerInfo.textContent = `Timer: ${timer}`;
                termInfo.textContent = `Term: ${term}`;


                newController.appendChild(state)
                newController.appendChild(ipInfo)
                newController.appendChild(timerInfo)
                newController.appendChild(termInfo)

                document.getElementById("mapController").appendChild(newController)

                mapController[ip] = {
                    div: newController,
                    ipInfo: ipInfo,
                    timerInfo: timerInfo,
                    termInfo: termInfo
                };
            }
        })

        socket.on("transitionToCandidate",(data)=>{
            var candidateIP=data['candidateIP']
            if( candidateIP in mapController){
                console.log(candidateIP)
                mapController[candidateIP].div.querySelector("#state").textContent="CANDIDATE";

            }
        })

        socket.on("transitionToLeader",(data)=>{
            var leaderIP=data['leaderIP']
            if(leaderIP in mapController){
                console.log(leaderIP)
                mapController[leaderIP].div.querySelector("#state").textContent="LEADER"
                mapController[leaderIP].div.classList.add("highlightedLeader")
            }
        })
        socket.on("transitionToFollower",(data)=>{
            var followerIP=data['followerIP']
            if(followerIP in mapController){
                console.log(followerIP)
                mapController[followerIP].div.querySelector("#state").textContent="FOLLOWER"
                // mapController[followerIP].div.classList.add("highlighted")
            }
        })
        
    </script>
</html>