<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/logs.css">

    </head>
    <body>
        <div class="navigation">
            <div class="nav-item">
                <a href="/">RAFT OBSERVER</a>
            </div>
            <div class="nav-item">
                <a href="/logs">LOGS OBSERVER</a>
            </div>
        </div>
        <div class="navigation">
            <h1>LOGS OBSERVER</h1>
        </div>

        <div id="mapController">

        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var mapController={}
        var socket=io.connect('http://'+document.domain+":"+location.port)
        var leaderIP=0

        socket.on("index",(data)=>{
            var IP=data['ip']
            if (IP in mapController){
                
            }
            else{
                var mapControllerDiv=document.createElement("div")
                mapControllerDiv.classList.add("logController")

                var ipInfo=document.createElement("p")
                var state=document.createElement("p")
                var logs=document.createElement("div")

                ipInfo.classList.add("navigation")
                state.classList.add("navigation")
                logs.setAttribute("id","logs")

                ipInfo.textContent=`${IP}`
                state.textContent="FOLLOWER"
                state.setAttribute("id","state")

                mapControllerDiv.appendChild(ipInfo)
                mapControllerDiv.appendChild(state)
                mapControllerDiv.appendChild(logs)

                document.getElementById("mapController").appendChild(mapControllerDiv)

                mapController[IP]={
                    div:mapControllerDiv,
                    ipInfo:ipInfo
                }                
            }
        })

        socket.on("transitionToLeader",(data)=>{
            leaderIP=data['leaderIP']
            if(leaderIP in mapController){
                console.log(leaderIP)
                mapController[leaderIP].div.querySelector("#state").textContent="LEADER"
            }
        })
        
        socket.on("registerBrokerRecord",(data)=>{
            console.log(data)
            const logEntryDiv = document.createElement('div');
            logEntryDiv.classList.add('logEntry');

            logEntryDiv.innerHTML = `
                <p><strong>Name:</strong> ${data.name}</p>
                <p><strong>Internal UUID:</strong> ${data.fields.internalUUID}</p>
                <p><strong>Broker ID:</strong> ${data.fields.brokerId}</p>
                <p><strong>Broker Host:</strong> ${data.fields.brokerHost}</p>
                <p><strong>Broker Port:</strong> ${data.fields.brokerPort}</p>
                <p><strong>Security Protocol:</strong> ${data.fields.securityProtocol}</p>
                <p><strong>Broker Status:</strong> ${data.fields.brokerStatus}</p>
                <p><strong>Epoch:</strong> ${data.fields.epoch}</p>
                <p><strong>Timestamp:</strong> ${data.timestamp}</p>
            `;

            mapController[leaderIP].div.querySelector("#logs").appendChild(logEntryDiv);

        })
    </script>
</html>