.navigation {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#mapController {
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}

.logController {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.logEntry {
    border: 1px solid #8e8e8e;
    padding: 10px;
    margin: 10px;
}

#logs {
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
    height: 300px;
    overflow-y:scroll;
}